/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

.main-container {
  margin-top: 80px;
}

.btn,
.form-control,
.panel,
.alert {
  border-radius: 2px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.table-filter .media-photo {
  width: 35px;
}
.table-filter .media-body {
  display: block;
  width: auto;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
  font-size: 11px;
  color: #999;
}
.table-filter .media .title {
  color: #2BBCDE;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}
.table-filter .media .title span {
  font-size: .8em;
  margin-right: 20px;
}
.table-filter .media .title span.pagado {
  color: #5cb85c;
}
.table-filter .media .title span.pendiente {
  color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
  color: #d9534f;
}
.table-filter .media .summary {
  font-size: 14px;
}

.content h1 {
  text-align: center;
}
.content .content-footer p {
  color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
  color: inherit;
  font-weight: bold;
}

/*  --------------------------------------------------
  :: Table Filter
  -------------------------------------------------- */
.panel {
  border: 1px solid #ddd;
  background-color: #fcfcfc;
}
.panel .btn-group {
  margin: 15px 0 30px;
}
.panel .btn-group .btn {
  transition: background-color .3s ease;
}
.table-filter {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}
.table-filter tbody tr td {
  padding: 10px;
  vertical-align: middle;
  border-top-color: #eee;
}
.table-filter tbody tr.selected td {
  background-color: #eee;
}
.table-filter tr td:first-child {
  width: 38px;
}
.table-filter tr td:nth-child(2) {
  width: 35px;
}
